{% extends 'base.html.twig' %}

{% block title %}Liste des spectacles{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>

    <ul>
    {% for show in shows %}
        <li>{{ show.title }}
            {% if show.bookable %}
            <span>{{ show.price }} €</span>
            {% endif %}
            {% if show.representations|length == 1 %}
                <span>1 representation</span>
            {% elseif show.representations|length > 1  %}
                <span>{{ show.representations|length }} representations</span>
            {% else %}
                <span>aucune representation</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
