{% extends 'base.html.twig' %}

{% block title %}New Locality{% endblock %}

{% block body %}
    <h1>Create new Locality</h1>

    {{ include('locality/_form.html.twig') }}

    <a href="{{ path('locality_index') }}">back to list</a>
{% endblock %}
