{% extends 'base.html.twig' %}

{% block title %}Liste des représentations{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>

    <ul>
    {% for representation in representations %}
        <li>{{ representation.theShow.title }}
            {% if representation.theLocation %}
            - <span>{{ representation.theLocation.designation }}</span>
            {% endif %}
            - <datetime>{{ representation.schedule|date('d-m-Y H:i') }}</datetime>
        </li>
    {% endfor %}
    </ul>
{% endblock %}