{% extends 'base.html.twig' %}

{% block title %}New Representation{% endblock %}

{% block body %}
    <h1>Create new Representation</h1>

    {{ include('representation/_form.html.twig') }}

    <a href="{{ path('representation_index') }}">back to list</a>
{% endblock %}
